<h1> Reddit Lab! </h1>
<h2>Parsing reddit.com/r/aww  </h2>

<button (click)="getPosts()">Get Posts!</button>
<ng-container *ngIf = "posts">
  <ng-container *ngFor="let child of posts.data.children">
    <h3>{{child.data.title}}</h3><br/>
    <img src="{{child.data.thumbnail}}"/><br/>
    <video controls width="640" height="480">
    <!--<source src="{{child.data.secure_media.reddit_video.scrubber_media_url}}" type="video/mp4">-->
  </video>
    {{child.data.permalink}}<br/>
  </ng-container>



</ng-container>